@import '../../assets/style/vars';

.title {
  font-weight: 300;
  text-align: center;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 25px;
}

.heading {
  margin-top: 15vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $max-width) {
  .container {
    border: $border-primary;
  }
}

.input {
  padding-bottom: $space-large;
}

.form {
  padding: $space-large;
}

.no-account {
  font-size: $font-size-small;
  padding-bottom: $space-large * 2;
  display: flex;
  justify-content: center;
}

a {
  color: $color-primary;
}

.loader {
  display: flex;
  justify-content: center;
}

h3 {
  margin-top: 0;
  font-weight: normal;
}
