@import '../../assets/style/vars';

.title {
  font-weight: 300;
  text-align: center;
  font-size: 60px;
  margin-top: 0;
}

.heading {
  margin-top: 20vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.input {
  padding-bottom: $space-large;
}

.form {
  padding: $space-large;
}
