@import '../../assets/style/vars';
.button {
  width: 100%;
  border: $border-primary;
  padding: $space-medium;
  font-weight: 600;
  cursor: pointer;
  transition: $transition-default;
  color: $color-text-dark;
  background: $color-primary;
}

.button:hover {
  color: $color-primary;
  background: transparent;
}

.button:disabled {
  color: $color-disabled;
  border: $border-disabled;
  background: transparent;
}

.button.transparent {
  background: transparent;
  border: none;
}

.button.transparent:disabled .icon {
  color: $color-disabled;
}
