@import '../../assets/style/vars';
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 100%;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $max-width) {
  .content {
    border: $border-primary;
  }
}
