<div class="wrapper">
  <div class="header">
    <app-header-back></app-header-back>
  </div>
  <div class="container">
    <div class="centerer" *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <div class="content" *ngIf="!loading">
      <h2>chat with {{user.displayName}}</h2>
      <div class="message-container">
        <form (submit)="handleSubmit($event)" #newChatForm="ngForm" action="">
          <div class="input">
            <div class="line-input-container">
              <label class="line-input-label" for="message">message</label>
              <textarea [(ngModel)]="model.message" required placeholder="message" class="line-input" type="text" name="message" id="message"></textarea>
            </div>
          </div>
          <div class="button">
            <app-button>start chat</app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
